@model Survey

<div class="justify-content-left">
        <h1 class="display-5" style="text-decoration: underline">
          Submitted Info
        </h1>
        <div>
          <h4>Your Name: @Model.Name</h4>
          <h4>Dojo Location: @Model.Location</h4>
          <h4>Favorite Language: @Model.Language</h4>
          <h4>Comment (optional): @Model.Comment</h4>
          <a href="/" class="btn btn-primary">Go Back</a>
        </div>
      </div>